@font-face {
	font-family:Trickster;
	src:url(fonts/vtf-trickster/Trickster-Reg.otf);
	}

@font-face {
	font-family:SportingGrotesque;
	src:url(fonts/vtf-sporting-grotesque/SportingGrotesque-Regular.otf);
	font-weight:400;
	}

@font-face {
	font-family:SportingGrotesque;
	src:url(fonts/vtf-sporting-grotesque/SportingGrotesque-Bold.otf);
	font-weight:700;
	}

body.bullshidex {
	background:#eee;
	font-family:"SportingGrotesque";
	font-weight:400;
	color:#111;
	font-size:18px; 
	line-height:1.45;

	/* OpenType features: kerning, ligatures & contextual alternates */
	font-kerning: normal; /* CSS3 */
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-moz-font-feature-settings: "kern=1", "liga=1", "calt=1";	/* Firefox 4.0 to 14.0 */
	-moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;	/* Firefox 15.0 onwards */
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	/* Make rendering look more consistent across platforms */
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;

	/* background-color:#ffdef5; */
	background:linear-gradient(#ffdef5, #fd65cd);
	}

/* Flèche de retour en haut */

.flecheretour a {
	position:fixed;
	border-radius:80px;
	background-color:#000;
	width:50px;
	height:50px;
	text-decoration: none;
	color:#fff !important;
	text-align:center;
	line-height:2.5em;
	left:20px;
	top:20px;
	font-weight:700;
	}

.flecheretour a:active{
	margin: 2px 0 0 2px;
	}

.flecheretour a:hover {
	background-color:#ea1da9
	}

body.bullshidex .container {
    max-width:55vw;
    padding-left:1rem;
    padding-right:1rem;
    margin-left:auto;
    margin-right:auto;
	}

body.bullshidex .masthead {
	margin-bottom:0.5rem;
	padding-bottom:0;
	}

body.bullshidex .masthead-title,
body.bullshidex .masthead-title a { 
	font-size:1em; 
	text-align:center;
	color:#111;
	}

body.bullshidex main nav ul {
	margin:0;
	padding:0;	
	text-align:center;
	margin-bottom:1rem;
	}

body.bullshidex main nav li {
	display:inline-block;
	font-size: 75%;
	}

body.bullshidex main nav li a {
	color:#111;
	text-decoration:underline;
	}

body.bullshidex main nav li:after {
	content: " | ";
	color:#777;
	}

body.bullshidex main nav li:last-of-type:after {
	content:"";
	}

body.bullshidex h1.page-title {
	font-family:"Trickster";
	font-size:9.8vw;	
	color:#111;
	background: -webkit-linear-gradient(#ea1da9, #111);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	margin-bottom:-0.5rem;
	} 


body.bullshidex h2.baseline {
	color:#111;
	font-size:1rem;
	line-height:1.45;
	}

/* body.bullshidex nav ul li a {
	color:#ea1da9; 
	text-decoration:underline;
	} */

body.bullshidex p.more a {
	color:#ea1da9; /* pink */
	text-decoration:underline;
	}

p.more{
	color:#ea1da9; /* pink */
	text-decoration:underline;
	}

p.more:hover{
	color:#d986bf; /* pink */
	text-decoration:underline;
	}


body.bullshidex p.more a:hover {
	color:#111; 
	}

body.bullshidex div.details a {
	color:#111;
	text-decoration:underline;
	}

div.details a {
	color:#111;
	text-decoration:underline;
	}	

body.bullshidex div.details h4 {
	margin-bottom:0.2rem;
	margin-top:1.2rem;
	}

body.bullshidex section {
	margin-bottom:2em;
	}

body.bullshidex section h2 {
	font-family:"Trickster";
	font-size:2.6em;
	border-bottom:5px solid #ea1da9;
	display:inline-block;
	margin-bottom:1.5rem;
	line-height:0.2;
	}

body.bullshidex section h2,
body.bullshidex section h2 a {
	color:#111;
	}

body.bullshidex section p,

body.bullshidex section a {
	color:#333;
	}


body.bullshidex section strong {
	color:#111;
	}


body.bullshidex section h2 a:hover {
	text-decoration:none;
	}

body.bullshidex section p {
	margin-bottom:0.4em;
	margin-left:3em;
	}

body.bullshidex section p a {
	text-decoration:underline;
	}

body.bullshidex section p a:hover {
	text-decoration:none;
	}

body.bullshidex section.liste {
	margin-top:2rem;
	margin-bottom:2rem;
	padding-bottom:1rem;
	border-top:6px double;
	border-bottom:6px double;
	font-weight:700;
	}

body.bullshidex section.liste h1 {
	margin-top:1.5rem;
	font-family:"SportingGrotesque";
	margin-bottom:-0.5rem;
	}

body.bullshidex section.liste p {
	margin-left:0;
	line-height:2.2;
	}

body.bullshidex section.liste a {
	color:#d31898; /* pink */
	background:white;
	padding-left:0.3rem;
	padding-right:0.3rem;
	}

body.bullshidex footer {
	font-family:"Trickster";
	text-align:center;
	font-size:2rem;
	background: -webkit-linear-gradient(#ea1da9, #111);
  	-webkit-background-clip:text;
  	-webkit-text-fill-color:transparent;
  	margin-top:-1rem;	
	}

body.bullshidex .espace-fine {
	/* https://github.com/victorloux/espaceFine */
	font-size:0.67em;
	}

/* ****************************************************************************** */

@media screen and (max-width:1024px) {
	
	body.bullshidex h1.page-title {
		font-size:9.5vw;
		}
		
	body.bullshidex section p {
		margin-left:2em;
		}
		
	body.bullshidex section.liste p {
		margin-left:0;
		}

} /* END responsive */


/* ****************************************************************************** */


@media screen and (max-width:667px) {

	.flecheretour a {
		left:auto;
		right:10px;
		top:10px;
		width:30px;
		height:30px;
		line-height:1.8em;
		}	

	body.bullshidex {
		font-size:16px;
		}

	body.bullshidex .container {
		max-width:100vw;
		padding-left:1rem;
		padding-right:1rem;
		margin:auto;
		}
		
	body.bullshidex .masthead-title,	
	body.bullshidex .masthead-title a {
		text-align:left;
		}

	body.bullshidex .masthead-title a {
		display:block; 
		}

	body.bullshidex main nav ul {
		text-align:left;
		margin-bottom:1.5rem;
		}		

	body.bullshidex h1.page-title {
		font-size:15vw;
		}

	body.bullshidex h2.baseline {
	    line-height:1.4;
		}

	body.bullshidex section.liste {
		margin-bottom:1.5rem;
		}

	body.bullshidex section.liste h1 {
	    margin-bottom:-0.3em;
		}

	body.bullshidex section.liste p:last-of-type {
		line-height:1.8;
		margin-top:0.6rem;
		}

	body.bullshidex section.liste p:last-of-type a {
		display:inline-block;
		}

	body.bullshidex section {
	    margin-bottom:1em;
		}
		
	body.bullshidex section p {
		margin-left:0;
		margin-bottom:0.3em;
		}

	body.bullshidex section h2 {
		font-size:1.9em;
		border-bottom:5px solid #ea1da9;
		margin-bottom:0.7rem;
		line-height:1.1;
		}

	body.bullshidex footer {
		margin-top:-2rem;
		margin-bottom:1rem;
		}

} /* END responsive */	