@font-face {
	font-family:Trickster;
	src:url(fonts/Trickster-Reg.otf);
	}

@font-face {
	font-family:SportingGrotesque;
	src:url(fonts/SportingGrotesque-Regular.otf);
	font-weight:400;
	}

@font-face {
	font-family:SportingGrotesque;
	src:url(fonts/SportingGrotesque-Bold.otf);
	font-weight:700;
	}

@keyframes bomb {
	    0% {
	        transform: scale(1);
	    }
	    100% {
	        transform: scale(0.5);
	    }
	}

html, body{
  /*height:100%;*/
  width:100%;
  margin:0;
	box-sizing: border-box;
	   }

body{
	background:linear-gradient(#ffdef5, #fd65cd);
}

div.container {
	/*border : 2px solid green;*/
	width : 194vh;
	height : 100%;
	margin : auto;
	display: block;
  }

/*GRILLE DE DIV*/
div.affiche {
  border: 2px solid black;
  height:45vh;
  width:33.8vh;
	transform-origin : center;
  /*background : url("background.png");*/
	background-size : cover;
	/*margin:auto;*/
  display : grid;
  grid-template-columns: 0.17fr 1fr 0.17fr;
	grid-template-columns: 5vh 1fr 5vh;
  grid-template-rows: 5vh 1fr 5vh;
	padding : 1vh;
	float:left;
	margin : 1vh;
	background:white;
	box-shadow: 3px 3px 3px 0px #ea1da9;
  }

div.item1 {
  /*border: 1px solid yellow;*/
  position:relative;
}

div.item1 img.bomb {
  position:absolute;
  /*background : pink;*/
  top:0;
  left:0;
  transform : rotate(90deg)
}


div.item2 {
  /*border: 1px solid orange;*/
  text-align:center;
}

div.item2 h2 {
	margin-top: 0vh;
}


div.item3 {
  /*border: 1px solid red;*/
  position:relative;
}

div.item3 img.bomb {
  position:absolute;
  /*background : pink;*/
  top:0;
  right:0;
  transform : rotate(180deg)
}


div.item4 {
  /*border: 1px solid green;*/
  align-self : center;
	position: relative;
}

div.item4 h2 {
  /*background : yellow;*/
	transform : rotate(-180deg);
	transform-origin : center;
	writing-mode: vertical-rl;
	/*line-height: 0;*/
	margin-left: -0.3vh;
	/*border : 1px solid red;*/
  }


div.item5 {
  /*border: 1px solid blue;*/
  align-self: center;
}


div.item6 {
  /*border: 1px solid purple;*/
  align-self : center;
	}

div.item6 h2 {
	writing-mode: vertical-rl;
	/*border : 1px solid red;*/
	margin-left: 2.7vh;
	 }


div.item7 {
  /*border: 1px solid pink;*/
  position:relative;
}
div.item7 img.bomb {
  position:absolute;
  /*background : pink;*/
  bottom:0;
  left:0;
}


div.item8 {
  /*border: 1px solid white;*/
  text-align:center;
	}

div.item8 h2 {
		margin-top: 2.7vh;
		/*border: 1px solid red;*/
	}

div.item9 {
  /*border: 1px solid silver;*/
  position:relative;
}
div.item9 img.bomb {
  position:absolute;
  bottom:0;
  right:0;
  transform : rotate(270deg)
}

h1 {
	text-align:center;
	font-family:"Trickster";
	font-size:10vh;
	color:#111;
	background: -webkit-linear-gradient(#ea1da9, #111);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
		margin-top : 3vh;
		margin-bottom : 3vh;
  		}

h2{
  font-family:Trickster;
  font-size:2vh;
  }

img {
  height:auto;
  width:100%;
		  }

figure {
	margin: 0;
	padding: 0;
}
img.bomb {
  height:auto;
  width:75%;
	animation: bomb 2s ease-in-out infinite alternate;
}

img.meme {
	/*border : 1px solid red;*/
}

figcaption {
	font-family: SportingGrotesque;
  font-size:1.2vh;
	text-align : right;
  }

	div.print-bouton {
		text-align:center;
		margin-bottom : 5vh;
	}

	div.print-bouton button{
		font-family:SportingGrotesque;
		background : white;
		border : 2px solid #ea1da9;
		padding-top : 1vh;
		padding-bottom : 1vh;
		padding-left : 2vh;
		padding-right : 2vh;
		box-shadow: 5px 5px 5px 0px #ea1da9;
		text-decoration : underline;
	}

	div.print-bouton button:hover{
		text-decoration:none;
		box-shadow: 5px 5px 5px 0px #333;
		border-color : black;
	}

	div.print-bouton button:visited{
		color : black;
	}


footer {
	font-family:"Trickster";
	text-align:center;
	font-size:2rem;
	background: -webkit-linear-gradient(#ea1da9, #111);
  	-webkit-background-clip:text;
  	-webkit-text-fill-color:transparent;
	margin-bottom:7vh;
	margin-top:5vh;
	width: 100%;
	display:block;
	/*border: 2px solid yellow;*/
	}
